KIBANA_USER=admin
# this secret is hashed
KIBANA_PASS_HASH='secret_hashed'
GRAFANA_PASSWORD=secret
ELASTIC_SEARCH_URL=http://elasticsearch:9200
ENVIRONMENT=monitoring
GRAFANA_SERVER_URL=https://localhost/grafana/
