localhost {
    handle /grafana* {
        reverse_proxy grafana:3000 {
            header_up Host {host}
            header_up X-Real-IP {remote}
            header_up X-Forwarded-For {remote}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    handle {
        reverse_proxy kibana:5601
    }
}
