POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_URL=
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
VITE_BACKEND_URL=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=
FIREBASE_API_KEY=
SENTRY_AUTH_TOKEN=
SENTRY_AUTH_DSN=
KIBANA_USER=
KIBANA_PASS_HASH=
VITE_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID=
STRIPE_FRONTEND_URL=
VITE_GOOGLE_WEB_CLIENT_ID=
ANALYTICS_URL=
OLLAMA_URL=
OLLAMA_MODEL=
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_URL=
KEYCLOAK_REALM=
GRAFANA_PASSWORD=
ELASTIC_SEARCH_URL=
HOSTNAME=
ENVIRONMENT=
