POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_URL=
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
VITE_BACKEND_URL=
SENTRY_AUTH_TOKEN=
SENTRY_AUTH_DSN=
KIBANA_USER=
KIBANA_PASS_HASH=
VITE_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID=
STRIPE_FRONTEND_URL=
VITE_GOOGLE_WEB_CLIENT_ID=
ANALYTICS_URL=
OLLAMA_URL=
OLLAMA_MODEL=
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_URL=
KEYCLOAK_REALM=
GRAFANA_PASSWORD=
ELASTIC_SEARCH_URL=
DOMAIN_URL=
ENVIRONMENT=
KC_CLIENT_STAGING_BACKEND_SECRET=
KC_CLIENT_PROD_BACKEND_SECRET=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
GOOGLE_CLIENT_ID_STAGING=
GOOGLE_CLIENT_SECRET_STAGING=
GOOGLE_CLIENT_ID_PROD=
GOOGLE_CLIENT_SECRET_PROD=
INVOICE_STORAGE_PATH=
S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
COMPANY_NAME=
COMPANY_WEBSITE=
COMPANY_LOGO_URL=
