http://localhost {
    handle_path /api/* {
        reverse_proxy backend:8080
    }
    handle_path /analytics* {
        reverse_proxy analytics:8000
    }
    handle /monitoring* {
      basic_auth {
        {$KIBANA_USER} {$KIBANA_PASS_HASH}
      }
        reverse_proxy kibana:5601
    }
    handle_path /backoffice* {
      reverse_proxy backoffice:4200
    }
    handle /keycloak* {
      reverse_proxy keycloak:8080
    }
    handle /grafana* {
      uri strip_prefix /grafana
      reverse_proxy grafana:3000
    }
    handle {
      reverse_proxy /* frontend:5173
    }
}
