http://localhost {
    handle_path /api/* {
        reverse_proxy backend:8080
    }
    handle_path /analytics* {
        reverse_proxy analytics:8000
    }
    handle_path /backoffice* {
      reverse_proxy backoffice:4200
    }
    handle {
      reverse_proxy /* frontend:5173
    }
}
