.container {
  height: 100%;
}
.flex-spacer {
  flex: 1 1 auto;
}
.content {
  padding: 16px;
}

.sidenav {
  width: 200px;
  background-color: var(--color-neutral-100);
}

html.dark .sidenav {
  background-color: var(--color-neutral-800);
}
