<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/users">Users</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span class="flex-spacer"></span>
      <span *ngIf="isLoggedIn" class="mr-2">{{ username }}</span>
      <button mat-button *ngIf="!isLoggedIn" (click)="login()">Login</button>
      <button mat-button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
    </mat-toolbar>
    <div class="content">
      <app-users />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
